@import "tailwindcss";
@plugin "daisyui";

.my-btn{
   @apply w-full bg-linear-to-r from-indigo-500 via-purple-500 to-pink-500 text-white font-semibold border-none hover:scale-105 transition-transform duration-200 p-3
}
#popover-1 {
  position-anchor: --anchor-1;
  inset-area: right;   /* forces the popover to start on the left side */
}